

.coinSection {
  /* background-color: white; */
  padding: 5px;
  border-radius: 0.5rem;
}

.coinButton {
  background-color: #c3f2ff;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  border: 1px solid #666;
  cursor: pointer;
}

.coinButton:hover {
  background-color: #0066CC;
  color: white;
}

.coinButton:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.medalCount {
  text-align: center;
  font-size: 1.5rem;
}


